#estrategias {
    padding: 40px;
    background-color: #2e2e2e;
    color: #fff;
    text-align: left;
}

#estrategias h2, #estrategias h3, #estrategias h4 {
    color: #ff4b4b;
    margin-bottom: 10px;
}

#estrategias ul {
    list-style-type: disc;
    margin-left: 20px;
}

#estrategias ul li {
    margin-bottom: 10px;
}

#estrategias p {
    margin: 15px 0;
}